blog.dtd

<!ELEMENT blog (post*)>
<!ELEMENT post (title,text,image*,signature,date,status*,error*)>
<!ELEMENT image (src,imagetext)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT text (#PCDATA)>
<!ELEMENT imagetext (#PCDATA)>
<!ELEMENT signature (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT src (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT error (#PCDATA)>



